* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

#app {
    background-color: rgb(27, 27, 34);
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.5s ease;
}


#ball {
    height: 30px;
    width: 30px;
    background-color: #fafafa;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#ball.bounce-y {
    animation: bounceY 0.2s ease forwards;
}

@keyframes bounceY {
    from {
        height: 30px;
    }

    50% {
        height: 20px;
    }

    to {
        height: 30px;
    }
}

#ball.bounce-x {
    animation: bounceX 0.2s ease forwards;
}

@keyframes bounceX {
    from {
        width: 30px;
    }

    50% {
        width: 20px;
    }

    to {
        width: 30px;
    }
}

#reflector {
    width: 100px;
    height: 20px;
    border-radius: 100vmax;
    background-color: #fafafa;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    cursor: pointer;
    /* outline: 0px solid rgba(255, 255, 255, 0.3); */
    /* transition: outline 0.2s ease background-color 0.5s ease; */
}

/* #score-container {
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3rem;
    transition: all 0.2s ease-out;
} */

/* #restart-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(27, 27, 34);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: none;
}

#restart-game:hover {
    background-color: yellow;
} */